###############################################################################
## OpenDXL Console settings
###############################################################################

# TODO: Add application-specific configuration settings

###############################################################################
## Settings for thread pools
###############################################################################

[MessageCallbackPool]

# The queue size for invoking DXL message callbacks
# (optional, defaults to 1000)
;queueSize=1000

# The number of threads available to invoke DXL message callbacks
# (optional, defaults to 10)
;threadCount=10

[IncomingMessagePool]

# The queue size for incoming DXL messages
# (optional, defaults to 1000)
;queueSize=1000

# The number of threads available to handle incoming DXL messages
# (optional, defaults to 10)
;threadCount=10
