###############################################################################
## OpenDXL Console settings
###############################################################################

[General]
username=admin
password=password
port=8443
localBroker=yes

[Certificates]
clientCaCertFile=@CLIENT_CA_CERT_FILE@
clientCaKeyFile=@CLIENT_CA_KEY_FILE@
clientCaPassword=@CLIENT_CA_PASSWORD@
brokerCaBundleFile=@BROKER_CA_BUNDLE_FILE@
clientConfigTemplateFile=@CLIENT_CONFIG_TMPL_FILE@

###############################################################################
## Settings for thread pools
###############################################################################

[MessageCallbackPool]

# The queue size for invoking DXL message callbacks
# (optional, defaults to 1000)
;queueSize=1000

# The number of threads available to invoke DXL message callbacks
# (optional, defaults to 10)
;threadCount=10

[IncomingMessagePool]

# The queue size for incoming DXL messages
# (optional, defaults to 1000)
;queueSize=1000

# The number of threads available to handle incoming DXL messages
# (optional, defaults to 10)
;threadCount=10
