[loggers]
keys=root, dxlclient

[handlers]
keys=file_handler

[formatters]
keys=formatter

[logger_root]
level=INFO
handlers=file_handler

[logger_dxlclient]
level=ERROR
qualname=dxlclient
handlers=file_handler
propagate=0

[handler_file_handler]
class=FileHandler
formatter=formatter
args=('/dxlbroker-volume/logs/console.log', 'w')

[formatter_formatter]
format=%(asctime)s %(name)-12s %(levelname)-8s %(message)s
