
name: Build

on: 
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron:  '0 0 * * *'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ 8 ]
    
    steps:
    - name: Checkout
      uses: actions/checkout@v1
      with:
        submodules: recursive
        
    - name: Set up Java ${{ matrix.java-version }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java-version }}     
                
    - name: Install broker
      run: |
        docker pull opendxl/opendxl-broker
        docker run -d -p 8883:8883 -p 8443:8443 opendxl/opendxl-broker
        docker ps -a
              
    - name: Install dependencies
      run: |
        pip install wheel
        pip install .[test]
        python setup.py install

    - name: Provision client
      run: |
        git clone --recursive https://github.com/opendxl/opendxl-client-java.git
        cd opendxl-client-java
        ./gradlew assemble --console=plain
        java -jar ./build/libs/dxlclient*all.jar provisionconfig clientconfig 127.0.0.1 client -u admin -p password
        sed -i -e "s/127.0.0.1;127.0.0.1/127.0.0.1/g" -e "/local/d" -e "/docker/d" clientconfig/dxlclient.config
        cat clientconfig/dxlclient.config
        
    - name: Execute CI
      run: |
        ./gradlew test --info --console=plain
        sed -i -e "s/= false/= true/g" -e "s/;8883/;443/g" -e "s/Brokers/BrokersWebSockets/g"  clientconfig/dxlclient.config
        cat clientconfig/dxlclient.config
        echo Running tests with WebSockets
        ./gradlew cleanTest test --info --console=plain
